.card {
    margin-top: 20px;
    background: #bbdefb;
    border-radius: 15px;
  }
  
  .cardContent {
    text-align: center;
  }
  
  .cardTitle {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .cardBody {
    font-size: 14px;
  }